<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta
    name="viewport"
    content="width=device-width, initial-scale=1">
<script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<!-- PAGEABLE TABLE HERE -->
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
<link
    rel="stylesheet"
    href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
<script
    type="text/javascript"
    src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script
    type="text/javascript"
    src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script
    type="text/javascript"
    src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script
    type="text/javascript"
    src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<link
    href="css/stylesheet.css"
    rel="stylesheet"
    type="text/css"
    th:href="@{css/stylesheet.css}" />
<title>BlockChain Crawler Data</title>
</head>
<body>
    <!-- Extremely poor attempt to prevent user from interrupting API loads :) -->
    <body
    onload="spin()"
    style="margin: 0;">
<div id="loader"></div>
    <div
        class="row header"
        style="text-align: center; color: green; margin-top: 20px; margin-bottom: 10px;">
        <h2 th:text="'Address: ' + ${address}"></h2>
        <h4
            th:text="'Current ETH price: $' + ${priceResult.ethusd} + ' USD (provided by etherscan.io)'"
            style="color: black;"></h4>
        <div
            style="display: none;"
            id="myDiv"
            class="animate-bottom"></div>
        <!-- HOME BUTTON -->
        <form action="/">
            <div
                class="button_position"
                style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
                <button class="btn btn-primary">
                    <span>Try another address</span>
                </button>
                <input type="hidden" />
            </div>
        </form>
         <!-- END HOME BUTTON -->
        <h6
            th:text="'Address ETH balance: ' + ${balanceData.getEthValue} + ' ETH'"
            style="color: black;"></h6>
        <h6
            th:text="'Address BTC value: ' + ${balanceData.getEthValue} * ${priceResult.ethbtc} + ' BTC'"
            style="color: black;"></h6>
        <h6
            th:text="'Address USD value: $' + ${#numbers.formatDecimal(balanceData.getEthValue * priceResult.ethusd , 1, 'COMMA', 2, 'POINT')} + ' USD'"
            style="color: black;"></h6>
    </div>
    <!-- DATE FORM -->
    <form
        action=""
        method="post">
        <div
            class="mb-3"
            style="width: 300px; margin: auto; text-align: center; margin-top: 20px;">
            <label
                for="historicalDate"
                class="form-label">Find balance on date</label>
            <p style="color: red;">
                <small>Note: this function requires Eherscan Pro
                    API key!</small>
            </p>
            <input
                type="date"
                class="form-control"
                id="historicalDate"
                name="historicalDate"
                aria-describedby="historical value"
                th:value="${historicalDate}"
                required><br>
            <button
                type="submit"
                class="btn btn-primary">Find balance</button>
        </div>
    </form>
    <!-- DATE FORM END-->
    <!-- VALUE ON DATE MESSAGES -->
    <h6
        th:text="${historicalMessage}"
        style="text-align: center;"></h6>
    <div th:if="${histMessages != null}">
        <div
            th:each="mess : ${histMessages}"
            th:text="${mess}"
            style="text-align: center;"></div>
    </div>
    <!-- DATE MESSAGES END -->
    <!-- ETH TABLE START -->
    <div class="container">
        <div
            class="row header"
            style="text-align: center; color: green; margin-top: 20px; margin-bottom: 10px;">
            <h3 th:text="'Normal transactions'"></h3>
            <h6>Note : This API endpoint returns a maximum of 10000
                records only.</h6>
        </div>
        <table
            id="transactions"
            class="table table-sm table-striped table-bordered"
            style="width: 100%">
            <thead>
                <tr>
                    <th scope="col">Block</th>
                    <th scope="col">Time</th>
                    <th scope="col">Hash</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">ETH Amount</th>
                    <th scope="col">Gas used</th>
                    <th scope="col">Confirmations</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="result : ${ethResult}">
                    <td th:text="${result.blockNumber}"></td>
                    <td th:text="${result.getTime}"></td>
                    <td
                        th:text="${result.hash}"
                        class="col-2 text-truncate"
                        style="max-width: 150px;"
                        data-toggle="tooltip"
                        data-placement="right"
                        th:title="${result.hash}"></td>
                    <td
                        class="col-2 text-truncate"
                        style="max-width: 150px;"
                        data-toggle="tooltip"
                        data-placement="right"
                        th:title="${result.from}"><a
                        th:href="@{'data?address=' + ${result.from} + '&startingBlock=0'}"
                        th:text="${result.from}"></a></td>
                    <td
                        class="col-2 text-truncate"
                        style="max-width: 150px;"
                        data-toggle="tooltip"
                        data-placement="right"
                        th:title="${result.to}"><a
                        th:href="@{'data?address=' + ${result.to} + '&startingBlock=0'}"
                        th:text="${result.to}"></a></td>
                    <td th:text="${result.getEthValue}"></td>
                    <td th:text="${result.gasUsed}"></td>
                    <td th:text="${result.confirmations}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- TABLE END -->
    <!-- ERC20 TABLE START -->
    <div class="container">
        <div
            class="row header"
            style="text-align: center; color: green; margin-top: 20px; margin-bottom: 10px;">
            <h3 th:text="'ERC20 token transfers'"></h3>
        </div>
        <table
            id="erc20transactions"
            class="table table-sm table-striped table-bordered"
            style="width: 100%">
            <thead>
                <tr>
                    <th scope="col">Block</th>
                    <th scope="col">Time</th>
                    <th scope="col">Hash</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Token</th>
                    <th scope="col">Ammount</th>
                    <th scope="col">Confirmations</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="result : ${erc20Result}">
                    <td th:text="${result.getBlockNumber}"></td>
                    <td th:text="${result.getTime}"></td>
                    <td
                        th:text="${result.hash}"
                        class="col-2 text-truncate"
                        style="max-width: 150px;"
                        data-toggle="tooltip"
                        data-placement="right"
                        th:title="${result.hash}"></td>
                    <td
                        class="col-2 text-truncate"
                        style="max-width: 150px;"
                        data-toggle="tooltip"
                        data-placement="right"
                        th:title="${result.from}"><a
                        th:href="@{'data?address=' + ${result.from} + '&startingBlock=0'}"
                        th:text="${result.from}"></a></td>
                    <td
                        class="col-2 text-truncate"
                        style="max-width: 150px;"
                        data-toggle="tooltip"
                        data-placement="right"
                        th:title="${result.to}"><a
                        th:href="@{'data?address=' + ${result.to} + '&startingBlock=0'}"
                        th:text="${result.to}"></a></td>
                    <td th:text="${result.tokenName}"></td>
                    <td th:text="${result.getOwnValue}"></td>
                    <td th:text="${result.confirmations}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- ERC20 TABLE END -->
    <!-- NFT TABLE START -->
    <div class="container">
        <div
            class="row header"
            style="text-align: center; color: green; margin-top: 20px; margin-bottom: 10px;">
            <h3 th:text="'NFT transfers'"></h3>
        </div>
        <table
            id="erc721transactions"
            class="table table-sm table-striped table-bordered"
            style="width: 100%">
            <thead>
                <tr>
                    <th scope="col">Block</th>
                    <th scope="col">Time</th>
                    <th scope="col">Hash</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Token</th>
                    <th scope="col">Confirmations</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="result : ${erc721Result}">
                    <td th:text="${result.getBlockNumber}"></td>
                    <td th:text="${result.getTime}"></td>
                    <td
                        th:text="${result.hash}"
                        class="col-2 text-truncate"
                        style="max-width: 150px;"
                        data-toggle="tooltip"
                        data-placement="right"
                        th:title="${result.hash}"></td>
                    <td
                        class="col-2 text-truncate"
                        style="max-width: 150px;"
                        data-toggle="tooltip"
                        data-placement="right"
                        th:title="${result.from}"><a
                        th:href="@{'data?address=' + ${result.from} + '&startingBlock=0'}"
                        th:text="${result.from}"> </a></td>
                    <td
                        class="col-2 text-truncate"
                        style="max-width: 150px;"
                        data-toggle="tooltip"
                        data-placement="right"
                        th:title="${result.to}"><a
                        th:href="@{'data?address=' + ${result.to} + '&startingBlock=0'}"
                        th:text="${result.to}"> </a></td>
                    <td th:text="${result.tokenName}"></td>
                    <td th:text="${result.confirmations}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- NFT TABLE END -->
    <!-- MINING TABLE START -->
    <div class="container">
        <div
            class="row header"
            style="text-align: center; color: green; margin-top: 20px; margin-bottom: 10px;">
            <h3 th:text="'Blocks mined'"></h3>
        </div>
        <table
            id="blocksMined"
            class="table table-sm table-striped table-bordered"
            style="width: 100%">
            <thead>
                <tr>
                    <th scope="col">Block</th>
                    <th scope="col">Time</th>
                    <th scope="col">ETH Reward</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="result : ${minedResult}">
                    <td th:text="${result.blockNumber}"></td>
                    <td th:text="${result.getTime}"></td>
                    <td th:text="${result.blockReward}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- MINING TABLE END -->
    <div
        class="button_position"
        style="text-align: center;">
        <button
            onClick="window.location.reload();"
            class="btn btn-primary">
            <span>Refresh Table</span>
        </button>
    </div>
    <br>
    <footer class="bg-light text-center text-lg-start">
        <div
            class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright: <a
                class="text-dark"
                href="mailto:damirmiklos@gmail.com"> Skarabudženo by
                Risac</a>
        </div>
    </footer>
    <script type="text/javascript">
					$(document).ready(function() {
						$('#transactions').DataTable();
					});

					$(document).ready(function() {
						$('#erc20transactions').DataTable();
					});

					$(document).ready(function() {
						$('#erc721transactions').DataTable();
					});

					$(document).ready(function() {
						$('#blocksMined').DataTable();
					});

					$(function() {
						$('[data-toggle="tooltip"]').tooltip()
					})
				</script>
    <script>
					var myVar;

					function spin() {
						myVar = setTimeout(showPage, 3000);
					}

					function showPage() {
						document.getElementById("loader").style.display = "none";
						document.getElementById("myDiv").style.display = "block";
					}
				</script>
</body></html>