<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta
    name="viewport"
    content="width=device-width, initial-scale=1">
<script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous">
<link
    href="css/stylesheet.css"
    rel="stylesheet"
    type="text/css"
    th:href="@{css/stylesheet.css}" />
<title>BlockChain Crawler Input</title>
</head>
<body>
    <p>
    <form
        action="/data"
        method="get">
        <div class="d-grid gap-2 col-3 mx-auto">
            <label
                class="form-check-label"
                for="address">Wallet address:</label> <input
                type="text"
                id="address"
                name="address"
                placeholder="0x..."
                style="width: 370px;"
                required>
            <h6
                th:text="${warningMessage}"
                style="color: red; text-align: center;"></h6>
            <label
                class="form-check-label"
                for="startingBLock">Starting Block:</label> <input
                type="number"
                id="startingBlock"
                name="startingBlock"
                th:placeholder="'latest block ' + ${latest}"
                min="0"
                th:max="${latest}"
                style="width: 370px;"
                required>
            <button
                type="submit"
                class="btn btn-success btn-lg"
                style="width: 370px;">FIND WALLET</button>
        </div>
    </form>
    <br>
    <footer class="bg-light text-center text-lg-start">
        <div
            class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright: <a
                class="text-dark"
                href="mailto:damirmiklos@gmail.com"> Skarabudženo by
                Risac</a>
        </div>
    </footer>
</body>
</html>